<p>Enter keyword to search</p>

<div class="input-form">
  <input class="input-form__query-input" type="text" [formControl]="queryTerm" />
  <div [ngClass]="{'input-form__debounceindicator': debounceIndicatorFull, 'input-form__debounceindicatorreset': !debounceIndicatorFull}"></div>
</div>

<div class="display-results" *ngIf="(results && results.length); else emptyresults">
  <ul class="display-results__list">
    <li class="display-results__list-element" *ngFor="let result of results">
      <button (click)="getPageData(result)">Display Page</button> about 
      <a class="display-results__list-link" href="https://en.wikipedia.org/wiki/{{result}}">{{result}}</a>
    </li>
  </ul>
</div>
<ng-template #emptyresults>
  <div class="display-results">
    <p class="display-results__nothing-to-show">nothing to show</p>
  </div>
</ng-template>

<div class="wiki-page" innerHtml="{{pageText}}"></div>
