div {
    padding: 0.1em;
    margin: 0.1em;
}

.display-results__list {
    background-color: rgb(232, 240, 250);
}

.display-results__list-element { 
    padding: 0.1em;
}

.display-results__list-link {
    font-family: Arial, Helvetica, sans-serif;
}

.display-results__nothing-to-show {
    background-color: rgb(232, 240, 250);
    font-family: Arial, Helvetica, sans-serif;
}



input {
    width: 200px;
}

.input-form__debounceindicator {
    transition-duration: 500ms;
    width: 204px;
    height: 2px;
    background-color: rgb(180, 194, 211);
    margin: 2px 0px;
    padding: 0px;
    transition-timing-function: linear;
}

.input-form__debounceindicatorreset {
    transition-duration: 100ms;
    width: 1px;
    height: 2px;
    background-color: rgb(67, 68, 155);
    margin: 2px 0px;
    padding: 0px;
    transition-timing-function: linear;
}


.wiki-page {
    background: rgb(240, 240, 240);
    font-size: 0.8em;
    padding: 1em;
}
